 
 
 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  :root{
    --raspberry: #8a307f;
    --lightblue: #79a7d3;
    --darkblue: #6883bc;
    --teal: #06b6d4;
    --darkraspberry: #5e1941;
}

body{
  background-color: var(--raspberry);
  font-family: 'Times New Roman', Times, serif;
  accent-color: var(--lightblue);
  -webkit-font-smoothing: antialiased;
}
  
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--lightblue);
    height: 100vh;
  }

  .lengthDiv{
    width: 8px;
    height: 8px;
    float: left;
  }
  
  .password-generator {
    padding: 40px;
    background-color: var(--darkblue);
    color: white;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    border-radius: 55px;
  }
  
  .password-generator div {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
  }
  
  .password {
    min-width: 280px;
    background-color: var(--darkraspberry);
    color: rgb(199, 199, 199);
  }
  
  .password p {
    padding: 6px 10px;
    background-color: var(--darkraspberry);
  }
  
  .password i {
    background-color: var(--raspberry);
    padding: 6px 10px;
    cursor: pointer;
  }
  
  .password-generator button {
    width: 100%;
    border: none;
    color: rgba(255, 255, 255, 0.699);
    background-color: var(--raspberry);
    padding: 10px;
  }

  .password-generator button,
  .password i:hover{
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
    background: var(--darkraspberry);
    cursor: pointer;
}